<% include ./partials/header %>
<div class="sign container text-center">
    <h1>Sign Up</h1>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="password" name="admin" placeholder="Admin code">
        <button class="btn btn-primary btn-lg">Sign Up</button>
    </form>
</div>
<% include ./partials/footer %>